@charset "UTF-8";

@font-face{font-family:tungsten;src:url(../fonts/tungsten/TungstenRounded-Semibold.eot);src:url(../fonts/tungsten/TungstenRounded-Semibold.eot?#iefix) format('embedded-opentype'),url(../fonts/tungsten/TungstenRounded-Semibold.woff) format('woff'),url(../fonts/tungsten/TungstenRounded-Semibold.ttf) format('truetype'),url(../fonts/tungsten/TungstenRounded-Semibold.svg#TungstenRounded-Semibold) format('svg')}

/* Resets and base styles from HTML5 Boilerplate */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

b {
  color: #ff0000;
  font-weight: 600;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  max-height: 45vh !important;
  max-width: calc( 33.33% - 20px ) !important;
  float: left;
  margin-top: 25px !important;
  margin-right: 20px !important;
}

img.full-width {
  max-width: initial!important;
  min-width: 50%;
}

input, select {
  vertical-align: middle;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 1em;
  vertical-align: top;
  list-style-type: none;
  letter-spacing: 0.003em;
  line-height: 28px;
  max-width: 70%;
}

code {
  color: #fff !important;
  font-family: 'Source Code Pro', sans-serif;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

select, input, textarea {
  color: #444444;
}

a {
  color: #607890;
}
a:hover, a:focus {
  color: #036;
}
a:link {
  -webkit-tap-highlight-color: #fff;
}

/* End HTML5 Boilerplate adaptations */
h1 {
  font-size: 3.5em;
}

h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%;
}
.csstransforms h1, .csstransforms .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: 48px;
}

h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em;
}

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

img, iframe, video {
  display: block;
  max-width: 100%;
}

video, iframe, img {
  display: block;
  margin: 0 auto;
}

p, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}

em {
  font-style: italic;
}

li {
  padding: .5em 0;
  vertical-align: middle;
}
li > ol, li > ul {
  margin-bottom: inherit;
}

body {
  background-color: #000;
}

.red {
  color: #ff0000 !important;
}

.deck-container {
  background-image: url('../img/WIRED.png');
  background-size: cover;
  font-size: 16px;
  line-height: 1.25;
  color: #ccc;
}

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 100;
  letter-spacing: .001em;
  text-transform: uppercase;
}

h1 {
  p
}

pre {
  border-color: #cde;
  background: #fff;
  position: relative;
  z-index: auto;
  border-radius: 5px;
  /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}

code {
  color: #789;
}

blockquote {
  padding: 20px;
  position: relative;
  border: 1px solid #666;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}

::-moz-selection {
  background: #08455f;
  color: #fff;
}

::selection {
  background: #08455f;
  color: #fff;
}

a, a:hover, a:focus, a:active, a:visited {
  color: #599;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.deck-container {
  font-family: tungsten, sans-serif;
  font-size: 1.75em;
}
.deck-container > .slide {
  padding: 0 48px;
}

.slide .deck-before, .slide .deck-previous {
  opacity: 0.4;
}
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.slide .deck-child-current {
  opacity: 1;
}

.deck-prev-link, .deck-next-link {
  background: #fff;
  opacity: 0.5;
}
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #599;
}
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  opacity: 1;
  text-decoration: none;
}

.deck-status {
  font-size: 0.6666em;
  margin-bottom: 10px;
  margin-right: 20px;
}

.deck-menu .slide {
  background: transparent;
  border-radius: 5px;
}
.rgba .deck-menu .slide {
  background: rgba(0, 0, 0, 0.1);
}
.deck-menu .slide.deck-current, .rgba .deck-menu .slide.deck-current, .no-touch .deck-menu .slide:hover {
  background: #fff;
}

.goto-form {
  background: #fff;
  border: 1px solid #cde;
  border-radius: 5px;
}
.boxshadow .goto-form {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
